@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #003699;
  --dark-color: #1f1d1c;
  --vdark-color: #000000;
  --light-color: #f4f4f4;
  --danger-color: #ea1818;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #1f1d1c;
}

a {
  color: #1f1d1c;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-i-danger {
  color: var(--danger-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #1f1d1c;
  padding: 1vw 3.5vw;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
  border: 1px white solid;
  cursor: pointer;
  margin-top: 1vw;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #1f1d1c;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #1f1d1c;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #1f1d1c;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-vdark {
  background: #1f1d1c;
}

.bg-black {
  background: black;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: white;
  color: #1f1d1c;
}

.btn:hover {
  opacity: 0.8;
  background: var(--danger-color);
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.btn-white:hover {
  background: var(--vdark-color);
  color: white;
}

/* Navbar */
.navbar {
  background-color: var(--vdark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
}

.navbar ul {
  display: flex;
}

.navbar .nav-list {
  padding: 0.7rem;
  margin-top: 0.3rem;
}

.navbar .nav-img {
  padding: 0.45rem;
  margin-top: 0.3rem;
}

.nav-item a:hover {
  color: var(--danger-color);
  text-decoration: none;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.heading {
  color: var(--danger-color);
  margin-top: 60px;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
}

.sub-title {
  font-family: 'Open Sans', sans-serif;
  word-wrap: inherit;
  color: white;
  font-weight: lighter;
  margin-top: 1.5vw;
  padding-bottom: 3vw;
}

.work {
  margin-top: 2vw;
  color: white;
}

.work-sub-title {
  font-family: 'Open Sans', sans-serif;
  word-wrap: inherit;
  font-weight: 100;
  margin-top: 1rem;
}

.work-heading {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.work-nav {
  margin-top: 1.5rem;
}

.work-nav-item-active {
  cursor: default;
  color: var(--danger-color);
  padding-left: 1rem;
  padding-top: 5px;
  border-top: 1px solid var(--danger-color);
  padding-right: 1.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
}

.work-nav-item-inactive {
  color: #a0a0a0;
  padding-top: 5px;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
}

.cards {
  margin-top: 2vw;
}

.card-body-white {
  background: var(--dark-color);
  color: white;
}

.card-body-dark {
  background: black;
  color: white;
}

.card-body-danger {
  background: var(--danger-color);
  color: white;
}

.card-body {
  padding: 3vw;
  margin-top: 1vw;
}

.card {
  border: var(--dark-color) 1px none;
}

.card-title {
  font-size: 1.4vw;
  font-family: 'Roboto Slab', serif;
}

.card-text {
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

.milestone-row {
  margin-top: 5vw;
}

.milestone-timer {
  margin-top: 2vw;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  font-size: 4vw;
}

.milestone-heading {
  margin-top: 2vw;
  font-size: 2vw;
  font-family: 'Roboto Slab', serif;
}

.test-sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
  word-wrap: inherit;
  color: white;
  font-weight: lighter;
  margin-top: 1.5vw;
  padding-bottom: 3vw;
}

.footer-section {
  margin-top: 2vw;
  padding: 3vw;
}

.fas {
  font-size: 7vw;
}

.h-heading {
  font-size: 2.3vw;
  font-weight: bolder;
  color: var(--danger-color);
  font-family: 'Roboto Slab', serif;
}

.h-text {
  font-size: 1.5vw;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

.test-carousel-container {
  padding: 0 10vw;
}

a:hover {
  color: var(--dark-color);
}

.client {
  width: 10vw;
  height: 10vw;
  margin-top: -2vw;
  border-radius: 100%;
}

.client-info {
  margin-left: 2vw;
  color: white;
}

.client-name {
  color: var(--danger-color);
  font-size: 1.5vw;
  font-family: 'Roboto Slab', serif;
}

.client-title {
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

.footer-heading {
  font-family: 'Roboto Slab', serif;
  color: var(--danger-color);
  font-size: 1.5vw;
}

.footer-list {
  color: white;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

.footer-item {
  padding-bottom: 1vw;
}

.footer-item a:hover {
  padding-left: 10px;
  transition-duration: 0.2s;
}

.footer-item a {
  transition-duration: 0.2s;
}

.footer-logo {
  margin-top: 1vw;
}

.contact-container {
  margin-top: 5vw;
  min-height: 600px;
  background-image: url('./components/layouts/images/padmini.png');
  background-position: right;
  background-repeat: no-repeat;
}

.form-control:focus {
  color: #ced4da;
  background-color: var(--vdark-color);
  border-color: 1px solid white;
  outline: 1;
  box-shadow: none;
}

.form-control {
  display: block;
  margin-top: 2vw;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ced4da;
  background-color: var(--vdark-color);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-container-form {
  padding: 0 5vw;
}

.btn-form {
  display: inline-block;
  background: var(--light-color);
  color: #1f1d1c;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  border: 1px white solid;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.testimonials-container {
  margin-top: 2vw;
}

.about-inner {
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 0 5vw;
}

.about-inner-2 {
  margin-top: 3vw;
  margin-bottom: 3vw;
  padding: 0 10vw;
}

.about-text {
  font-size: 1vw;
  font-weight: lighter;
  color: white;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
}

.about-heading {
  font-size: 2vw;
  font-weight: 100;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.team-heading {
  color: var(--danger-color);
  font-size: 2vw;
  font-family: 'Roboto Slab', serif;
}

.contact-heading {
  padding-top: 5vw;
  font-size: 4vw;
}

.team-text {
  color: white;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

.icon {
  font-size: 5vw;
  color: var(--danger-color);
}

iframe {
  width: 40vw;
  height: 30vw;
}

.team {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
}

.text-desc {
  margin-top: 5vw;
}

.services-main-heading {
  margin-top: 4rem;
  background-image: url('./components/layouts/images/services.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20vw;
}

.terms-container {
  margin-top: 4rem;
  background-image: url('./components/layouts/images/cover-two.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 20vw;
}

.terms-main-heading {
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  margin-top: 5vw;
}

.terms-heading {
  color: var(--danger-color);
  font-size: 3vw;
  font-family: 'Roboto Slab', serif;
  padding-top: 5vw;
}

.terms-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.2vw;
  padding-top: 1rem;
  margin-top: 3vw;
}

.terms-item-container {
  padding: 0 5vw;
}

/* Start */
.services-heading {
  color: white;
  font-size: 4vw;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  margin-top: 5rem;
}

.services-desc-heading {
  color: var(--danger-color);
  font-size: 2.5vw;
  font-family: 'Roboto Slab', serif;
}

.services-desc-text {
  color: white;
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

.service-item {
  color: var(--danger-color);
  font-size: 1.7vw;
  font-family: 'Roboto Slab', serif;
}
/* End */

.service-item-container {
  margin-top: 3vw;
  padding: 0 7vw;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

@media (max-width: 992px) {
  #searchIcon {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar .nav-list {
    padding: 0rem;
    padding-left: 1rem;
  }

  .navbar .nav-img {
    padding: 0.45rem;
    margin-top: 0rem;
  }
}

@media (max-width: 455px) {
  .sub-title {
    font-family: 'Open Sans', sans-serif;
    word-wrap: inherit;
    font-weight: lighter;
    font-size: 0.7rem;
  }
}

@media (max-width: 490px) {
  .heading {
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
  }
}

@media (max-width: 1250px) {
  .work-heading {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
  }

  .work-sub-title {
    font-family: 'Open Sans', sans-serif;
    word-wrap: inherit;
    font-weight: 100;
    margin-top: 1rem;
    font-size: 13px;
  }

  .work-nav {
    margin-top: 1rem;
  }

  .work-nav-item-active {
    cursor: default;
    padding-left: 1rem;
    border-top: 1px solid var(--danger-color);
    padding-right: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
  }

  .work-nav-item-inactive {
    padding-left: 1rem;
    padding-right: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  .work-heading {
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
  }

  .work-sub-title {
    font-family: 'Open Sans', sans-serif;
    word-wrap: inherit;
    font-weight: 100;
    margin-top: 1rem;
    font-size: 9px;
  }

  .work-nav {
    margin-top: 1rem;
  }

  .work-nav-item-active {
    cursor: default;
    padding-left: 1rem;
    border-top: 1px solid var(--danger-color);
    padding-right: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 7px;
  }

  .work-nav-item-inactive {
    padding-left: 1rem;
    padding-right: 1.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  .terms-text {
    font-size: 1.5vw;
  }

  .terms-main-heading {
    font-size: 2vw;
  }

  .terms-heading {
    font-size: 3vw;
  }

  .services-heading {
    font-size: 4vw;
    margin-top: 7vw;
  }

  .services-desc-heading {
    font-size: 3vw;
  }

  .services-desc-text {
    font-size: 2vw;
  }

  .service-item {
    font-size: 2vw;
  }

  .contact-container-form {
    margin-top: 45vw;
  }

  .contact-heading {
    padding-top: 15vw;
  }

  .contact-container {
    min-height: 700px;
    background-position: center;
    background-position-y: top;
  }

  .about-heading {
    font-size: 2vw;
  }

  .about-text {
    font-size: 1.5vw;
  }

  .team-heading {
    font-size: 2vw;
  }

  .team-text {
    font-size: 1.5vw;
  }

  .about-inner {
    padding: 0 7vw;
  }

  iframe {
    width: 60vw;
    height: 30vw;
  }

  .client-desc {
    margin-left: -5vw;
  }

  .footer-list {
    font-size: 1.5vw;
  }

  .footer-heading {
    font-size: 2vw;
  }

  .work-heading {
    margin-top: 3vw;
  }

  .card-title {
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
  }

  .card-text {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
  }

  .milestone-heading {
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
  }
}
